<ul style = 'list-style:none; background: lavender; width: 400px; height: 500px; text-align: center; margin: 0 auto' >
<% @bookmarks.each do |bookmark| %>
    <li  class="bookmark" id="bookmark-<%= bookmark.id %>"
    style = ' text-align: center; margin: 0 auto'
    >
            <a style = 'margin:4px; text-decoration: none; color: black;
            font-weight: bold; letter-spacing: 2.3px'href="<%= bookmark.url %>" target="_blank">
        <%= bookmark.title %>
      </a>
<form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="submit" value="delete" />
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
        <input type="submit" value="Edit" />
      </form>

  </li>
  <% end %>
</ul>


<form
style = 'background:none; text-align: center; margin: 0 auto; padding: 15px'
action='/add_bookmark' method='post' >
<%= flash[:notice] %>
<input type= 'text' name = 'url' placeholder='url'>
<input type= 'text' name = 'title' placeholder='title'>
<input type= 'submit' value='add' name = 'add'>
</form>




